.table {
  height: 100%;
  width: 100%;
  color: var(--color-text);
  padding-top: 20px;
  //padding-bottom: 20px;
  z-index: 0;

  &-header {
    &__cell {}
    &__name {}

    &_sort &__cell { cursor: pointer; }
    &_sort &__name { text-decoration: underline; }
  }

  &-body {
    &-row {
      transition-property: opacity, border-top-width, border-bottom-width;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
      border: solid 0px gray;
      &_on-drag {
        opacity: .25;
      }
      &_drop-before {
        border-top-width: 14px;
      }
      &_drop-after {
        border-bottom-width: 14px;
      }
    }
  }

  &__group {
    vertical-align: center;
    color: var(--color-button-bg);
    user-select: none;
    &_collapsed {
      color: var(--color-text);
      background-color: var(--color-link-shade);
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__control {
    padding: 0px 16px;
    display: flex;
    align-items: center;
  }

  &__col {
    display: flex;
    align-items: center;
  }

  &__draggable {
    position: absolute;
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    right: 0px;
    color: var(--color-text);
  }

  &__no-found {
    display: flex;
    padding: 30px 0 50px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: gray
  }
}
