.pager {
  display: flex;
  align-items: center;
  font: var(--font-xs);
  font-weight: var(--font-weight-light);
  margin-bottom: 20px;

  &__pages {
    padding: 0 9px;
  }
  &__items {
    padding-right: 9px;
  }
  &__buttons {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
}
